.search-bar-container {
    display: flex;
    justify-content: center; /* Center horizontally */
    align-items: center;    /* Center vertically */
    padding: 10px;          /* Optional padding */
    background-color: #f8f9fa; /* Light background */
}

.arrowOffer{
    position: absolute;
    top: 2%;
    left: 2%;
}

.pointsInOffer{
    position: absolute;
    top: 2%;
    right: 2%;
}